<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KYC app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../Frontend/style/sstyle.css">
</head>
<body>
    <div class="container">
        <h1>KYC app</h1>
        <div class="video-container">
            <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Video Feed">
        </div>
        <button>
            <a class="btn-contact btn-menubar lg-hidden" href="/templates/finalpage.html">Proceed</a>
        </button>
    </div>
</body>
</html>
